.wrapper {
  width: 100%;
  aspect-ratio: 10 / 6;
  position: relative;
  border-radius: 6px;
  padding: 0px 12px;
  background-color: #141414;

  @media screen and (min-width: 560px) {
    padding: 0px 40px;
  }
}

.container {
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 8px;
  touch-action: none;
  position: relative;
}

.img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  display: block;
  flex-shrink: 0;
  flex-grow: 0;
  transition: translate 300ms ease-in-out;
  animation: load 0.8s ease-in-out;
}

.slider-btn {
  all: unset;

  display: flex;
  position: absolute;
  background-color: #ffffff;
  color: #4d4d4d;
  opacity: 0.5;
  border-radius: 50%;
  cursor: pointer;
  top: 50%;
  translate: 0 -50%;
  transition: all 100ms ease-in-out;

  @media screen and (min-width: 976px) {
    padding: 0.5rem;
  }
}

.slider-btn:hover {
  opacity: 0.75;
}

.slider-btn:disabled {
  background-color: #828282;
}

.slider-btn:disabled:hover {
  opacity: 0.5;
  cursor: default;
}

.slider-btn.left-btn {
  left: 16px;

  @media screen and (min-width: 560px) {
    left: 44px;
  }
}

.slider-btn.right-btn {
  right: 16px;

  @media screen and (min-width: 560px) {
    right: 44px;
  }
}

.date-label {
  color: rgb(251, 217, 28);
  opacity: 0.75;
  font-size: 0.625rem;
  margin: 0;
  padding: 4px 0px;

  @media screen and (min-width: 560px) {
    padding: 12px 0px;
    font-size: 0.75rem;
  }
}

.date-label.top-right {
  text-align: end;
}
